/*

Template 2098 Health

http://www.tooplate.com/view/2098-health

*/

@import url('https://fonts.googleapis.com/css?family=Prompt:200,300,300i,400,400i,600,600i,900,900i&display=swap');

body {
  background: #ffffff;
  font-family: 'Prompt', sans-serif;
  overflow-x: hidden;
}

.logo-web-cii3{
  height: 65px;
  margin-top: -22px;
}
/*---------------------------------------
   TYPOGRAPHY              
-----------------------------------------*/

h1,h2,h3,h4,h5,h6 {
  /* font-weight: 600; */
  /* line-height: inherit; */
}

h1,h2,h3,h4 {
  /* letter-spacing: -1px; */
}

h5 {
  font-weight: 500;
}

h1 {
  color: #252525;
  /* font-size: 5em; */
}

h2 {
  color: #272727;
  font-size: 3em;
  padding-bottom: 10px;
}

h3 {
  /* font-size: 1.8em; */
  /* line-height: 1.2em; */
  /* margin-bottom: 0; */
}

h4 {
  color: #454545;
  font-size: 1.8em;
  padding-bottom: 2px;
}

h6 {
  letter-spacing: 0;
  font-weight: normal;
}

p {
  color: #989898;
  font-size: 18px;
  font-weight: normal;
  line-height: 31px;
}


/*---------------------------------------
   GENERAL               
-----------------------------------------*/

html{
  -webkit-font-smoothing: antialiased;
}

a {
  color: #252525;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none !important;
}

a:hover, a:active, a:focus {
  color: #a5c422;
  outline: none;
}

::-webkit-scrollbar{
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #000000;
}

.section-title {
  padding-bottom: 20px;
}

.section-title h2 {
  margin-top: 0;
}

.section-btn {
  background: #285f90;
  border: 0;
  border-radius: 50px;
  color: #ffffff;
  font-size: inherit;
  font-weight: 500;
  transition: transform 0.1s ease-in;
  transform: translateX(0);
  padding-top: 14px;
  padding-right: 35px;
  padding-bottom: 14px;
  padding-left: 35px;
}

.section-btn:hover {
  transform: translateY(-5px);
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.border-top {
  border-top: 1px solid #f2f2f2;
  margin-top: 4em;
  padding-top: 2.5em;
}

.btn-gray {
  background: #393939;
}

.btn-blue {
  background: #4267b2;
}

.news-thumb {
  background: #ffffff;
  border-radius: 10px;
}
.news-thumb img {
  border-radius: 10px 10px 0 0;
}

.news-info {
  padding: 30px;
  text-align: left;
}
.news-info span {
  display: block;
  letter-spacing: 0.5px;
}
.news-info h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.product-thumb {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 8px 8px 14px 0px #a5a5a599;
}
.product-thumb img {
  border-radius: 10px 10px 0 0;
  margin: auto;
}

.product-info .show-now{
  position: absolute;
  right: 40px;
  bottom: 50px;
}
.product-info {
  padding: 30px;
  text-align: left;
  position: relative;
}
.product-info span {
  display: block;
  letter-spacing: 0.5px;
}
.product-info h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.author {
  border-top: 1px solid #f0f0f0;
  padding-top: 1.5em;
  margin-top: 2em;
}
.author img,
.author .author-info {
  display: inline-block;
  vertical-align: top;
}
.author-info h5 {
  margin-bottom: 0;
}
.author img {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}


#about, #team, #news,#product,#product-detail,
#news-detail {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
}

#news, #service {
  text-align: center;
}

#google-map {
  line-height: 0;
  margin: 0;
  padding: 0;
}


/*---------------------------------------
     PRE LOADER              
-----------------------------------------*/

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #ffffff;
}

.spinner {
  border: 1px solid transparent;
  border-radius: 3px;
  position: relative;
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 45px;
  height: 45px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 1px solid #575757;
  border-top-color: #ffffff;
  animation: spinner .9s linear infinite;
}

@-webkit-@keyframes spinner {
  to {transform: rotate(360deg);}
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}



/*---------------------------------------
    MENU              
-----------------------------------------*/

header {
  background: #ffffff;
  border-bottom: 1px solid #f2f2f2;
  display: flex;
  height: 45px;
}

header .col-md-8 {
  padding-right: 0;
}

header p,
header span {
  font-size: 12px;
  line-height: 24px;
  padding-top: 12px;
}

header a,
header span {
  color: #747474;
}

header span {
  font-weight: 500;
  display: inline-block;
  padding: 11px 15px;
}

header span.date-icon {
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
  padding-right: 19px;
  padding-left: 19px;
}

header span i {
  color: #31868f;
  margin-right: 5px;
}



/*---------------------------------------
    MENU              
-----------------------------------------*/

.navbar-default {
  background: #ffffff;
  box-shadow: 0 2px 8px rgba(0,0,0,.075);
  border: none;
  margin-bottom: 0;
  padding: 10px;
}

.navbar-default .navbar-brand {
  color: #393939;
  font-weight: 500;
}

.navbar-default .navbar-brand .fa {
  color: #31868f;
}

.navbar-default .navbar-nav li.appointment-btn {
  margin: 3px 0 0 20px;
}

.navbar-default .navbar-nav li.appointment-btn a {
  background: #31868f;
  border-radius: 3px;
  color: #ffffff;
  font-weight: 600;
  padding-top: 12px;
  padding-bottom: 12px;
}

.navbar-default .navbar-nav li.appointment-btn a:hover {
  background: #4267b2;
  color: #ffffff !important;
}

.navbar-default .navbar-nav li a {
  color: #555555;
  font-size: 12px;
  font-weight: 500;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

.navbar-default .navbar-nav > li a:hover {
  color: #393939 !important;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #555555;
  background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #393939;
  background-color: transparent;
}

.navbar-default .navbar-toggle {
  border: none;
  padding-top: 10px;
}

.navbar-default .navbar-toggle .icon-bar {
  background: #393939;
  border-color: transparent;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { 
  background-color: transparent;
}



/*---------------------------------------
    HOME              
-----------------------------------------*/

#home h1 {
  color: #286090;
  /* padding-bottom: 10px; */
  /* margin-top: 0; */
  font-size: -webkit-xxx-large;
}

#home h3 {
  color: #47a6ab;
  font-weight: normal;
  line-height: 35px;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin: 0;
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 15px;
}

.slider{
  height: 650px;
}

.slider .owl-dots {
    justify-content: center;
    left: 15px;
    width: 140px;
    margin-top: 17px!important;
}

.owl-theme .owl-dots .owl-dot span {
  width: 15px;
  height: 15px;
  margin: 5px 7px;
  border: 2px solid #ffffff;
  background: #ffffff;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background-color: #285e90;
  border-color: transparent;
}

.slider .caption {
  color: #fff;
  padding-top: 50px;
}

.slider .item {
  background-position: inherit;
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: cover;
  height: 570px;
  overflow: hidden;
}

.slider .item-first {
  background-image: url(../images/slider1.jpg);
}

.slider .item-second {
  background-image: url(../images/slider2.jpg);
}

.slider .item-third {
  background-image: url(../images/slider3.jpg);
}


/*---------------------------------------
    ABOUT              
-----------------------------------------*/

#about {
  /* background: url('../images/about-bg.jpg') no-repeat top center; */
  /* background-size: cover; */
  /* padding-top: 150px; */
  /* padding-bottom: 150px; */
}

.profile img,
.profile figcaption {
  display: inline-block;
  vertical-align: top;
  margin-top: 1em;
}
.profile img {
  border-radius: 100%;
  width: 65px;
  height: 65px;
  margin-right: 1em;
}
.profile figcaption h3 {
  margin-top: 0;
}

#about h6 {
  color: #858585;
  margin: 0;
}



/*---------------------------------------
    TEAM MEMBERS              
-----------------------------------------*/

.team-thumb {
  background-color: #f9f9f9;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  border-bottom: 8px solid #fff;
  box-shadow: 8px 8px 14px 0px #a5a5a599;
}

.team-info {
  padding: 20px 30px 0 30px;
}

.team-contact-info {
  border-top: 1px solid #e9e9e9;
  padding-top: 1.2em;
  margin-top: 1.5em;
}

.team-contact-info .fa {
  margin-right: 5px;
  display: inline-block;
}

.team-contact-info p {
  margin-bottom: 2px;
}

.team-contact-info a {
  color: #757575;
}

.team-thumb .social-icon li {
  font-weight: 500;
}

.team-thumb .social-icon li a {
  background: #ffffff;
  border-radius: 100%;
  font-size: 20px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin: 0 2px 0 2px;
}

.team-thumb .social-icon {
  opacity: 0;
  transform: translateY(100%);
  transition: 0.5s 0.2s;
  text-align: center;
  position: relative;
  top: 0;
}

.team-thumb:hover .social-icon {
  opacity: 1;
  transition-delay: 0.3s;
  transform: translateY(0px);
  top: -22em;
}



/*---------------------------------------
   SERVICE              
-----------------------------------------*/

#service {
  background: #a5c422;
}

#service h2,
#service h4 {
  color: #ffffff;
}

#service p {
  color: #d9d9d9;
}

#service .service-thumb {
  padding: 0 22px;
}

#service .fa {
  font-size: 50px;
  margin-bottom: 10px;
  background: #ffffff;
  color: #a5c422;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 100%;
}

/*---------------------------------------
    product             
-----------------------------------------*/

#product {
  background: #fff;
}
#product-detail {
  background: #efefef;
}

#product-detail blockquote {
  margin: 30px 0;
}

.product-detail-thumb .product-image img {
  border-radius: 10px;
}

.product-detail-thumb h3 {
  margin-bottom: 8px;
}

.product-image {
  margin-bottom: 30px;
  position: relative;
}

.product-image img {
  width: 100%;
}

.product-detail-thumb ul {
  margin: 32px 12px 22px 0px;
}

.product-detail-thumb ul li {
  list-style: circle;
  font-weight: normal;
  padding: 6px 12px 6px 0px;
}

.product-sidebar {
  margin-top: 16px;
}

.product-social-share {
  text-align: center;
  padding-top: 22px;
}

.product-social-share .btn {
  border-radius: 100px;
  border: none;
  font-size: 10px;
  font-weight: 600;
  margin: 2px 6px;
  padding: 8px 14px;
}

.product-social-share .btn-primary {
  background: #3b5998;
}

.product-social-share .btn-success {
  background: #1da1f2;
}

.product-social-share .btn-danger {
  background: #dd4b39;
}

.product-social-share a .fa {
  padding-right: 4px;
}

.recent-post {
  padding-top: 2px;
  padding-bottom: 18px;
}

.recent-post .media img {
  border-radius: 100%;
  width: 80px;
  height: 80px;
  margin-right: 5px;
}

.recent-post .media-heading {
  font-size: 16px;
  font-weight: 500;
  line-height: inherit;
  margin-top: 5px;
}

.product-categories {
  margin-top: 8px;
}

.product-categories li a {
  color: #2b2b2b;
}

.product-ads {
  background: #ffffff;
  border-right: 4px solid #2b2b2b;
  padding: 42px;
  text-align: center;
  margin: 26px 0 26px 0;
}

.product-ads.sidebar-ads {
  border-left: 4px solid #2b2b2b;
  border-right: 0px;
}

.product-ads h4 {
  font-size: 18px;
}

.product-tags h4 {
  padding-bottom: 6px;
}

.product-categories li,
.product-tags li {
  list-style: none;
  display: inline-block;
  margin: 4px;
}

.product-tags li a {
  background: #393939;
  border-radius: 50px;
  color: #ffffff;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  float: left;
  min-width: 30px;
  padding: 6px 12px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

.product-tags li a:hover {
  background: #4267b2;
}

/*---------------------------------------
    NEWS             
-----------------------------------------*/

#news, #news-detail {
  background: #f9f9f9;
}

#news-detail blockquote {
  margin: 30px 0;
}

.news-detail-thumb .news-image img {
  border-radius: 10px;
}

.news-detail-thumb h3 {
  margin-bottom: 8px;
}

.news-image {
  margin-bottom: 30px;
  position: relative;
}

.news-image img {
  width: 100%;
}

.news-detail-thumb ul {
  margin: 32px 12px 22px 0px;
}

.news-detail-thumb ul li {
  list-style: circle;
  font-weight: normal;
  padding: 6px 12px 6px 0px;
}

.news-sidebar {
  margin-top: 16px;
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 8px 8px 14px 0px #a5a5a599;
}

.news-social-share {
  text-align: center;
  padding-top: 22px;
}

.news-social-share .btn {
  border-radius: 100px;
  border: none;
  font-size: 10px;
  font-weight: 600;
  margin: 2px 6px;
  padding: 8px 14px;
}

.news-social-share .btn-primary {
  background: #3b5998;
}

.news-social-share .btn-success {
  background: #1da1f2;
}

.news-social-share .btn-danger {
  background: #dd4b39;
}

.news-social-share a .fa {
  padding-right: 4px;
}

.recent-post {
  padding-top: 2px;
  padding-bottom: 18px;
}

.recent-post .media img {
  border-radius: 100%;
  width: 80px;
  height: 80px;
  margin-right: 5px;
}

.recent-post .media-heading {
  font-size: 16px;
  font-weight: 500;
  line-height: inherit;
  margin-top: 5px;
}

.news-categories {
  margin-top: 8px;
}

.news-categories li a {
  color: #2b2b2b;
}

.news-ads {
  background: #ffffff;
  border-right: 4px solid #2b2b2b;
  padding: 42px;
  text-align: center;
  margin: 26px 0 26px 0;
}

.news-ads.sidebar-ads {
  border-left: 4px solid #2b2b2b;
  border-right: 0px;
}

.news-ads h4 {
  font-size: 18px;
}

.news-tags h4 {
  padding-bottom: 6px;
}

.news-categories li,
.news-tags li {
  list-style: none;
  display: inline-block;
  margin: 4px;
}

.news-tags li a {
  background: #393939;
  border-radius: 50px;
  color: #ffffff;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  float: left;
  min-width: 30px;
  padding: 6px 12px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

.news-tags li a:hover {
  background: #4267b2;
}



/*---------------------------------------
    APPOINTMENT             
-----------------------------------------*/

#appointment {
  padding-top: 100px;
}

#appointment label {
  color: #393939;
  font-weight: 500;
}

#appointment .form-control {
  background: #f9f9f9;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 15px;
  transition: all ease-in-out 0.4s;
}

#appointment input,
#appointment select {
  height: 45px;
}

#appointment button#cf-submit {
  background: #31868f;
  color: #ffffff;
  font-weight: 600;
  height: 55px;
}

#appointment button#cf-submit:hover {
  background: #393939;
  color: #ffffff;
}


/*---------------------------------------
   FOOTER              
-----------------------------------------*/

footer {
  padding-top: 80px;
  padding-bottom: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: unset!important;
}

footer h4 {
  padding-bottom: 5px;
}

footer a {
  color: #757575;
}

footer a:hover {
  color: #4267b2;
}

.contact-info {
  padding-top: 10px;
}

.contact-info .fa {
  border-radius: 100%;
  color: #ffffff;
  font-size: 15px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  margin-right: 5px;
  margin-bottom: 2px;
}

.latest-stories {
  margin-bottom: 20px;
}

.stories-image,
.stories-info {
  display: inline-block;
  vertical-align: top;
}

.stories-image img {
  border-radius: 100%;
  width: 65px;
  height: 65px;
}

.stories-info {
  margin-left: 15px;
}

.stories-info h5 {
  margin-bottom: 2px;
}

.stories-info span {
  color: #858585;
  font-size: 12px;
}

.opening-hours p {
  line-height: 18px;
}

.opening-hours span {
  font-weight: 500;
  display: inline-block;
  padding-left: 10px;
}
.copyright-text{
  background-color: #1a2028;
  height: 47px;
}
.copyright-text p{
  color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    line-height: 47px;
    padding: 0;
    margin: 0;
}
.mb-30{
  margin-bottom: 30px;
}
.copyright-text h3{
  line-height: 47px;
  padding: 0;
  margin: 0;
  color: #fff;
  font-size: 20px;
}
.footer-link a {
  color: #858585;
  font-size: 12px;
  font-weight: 500;
}

.footer-link a {
  font-size: 12px;
  display: inline-block;
  padding: 0 10px;
  margin-top: 4px;
}

.angle-up-btn {
  position: relative;
  bottom: 4em;
  display: block;
  text-align: right;
}

.angle-up-btn a {
  background: #ffffff;
  border: 1px solid #f2f2f2;
  border-radius: 3px;
  font-size: 20px;
  color: #393939;
  display: inline-block;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 38px;
  transition: transform 0.1s ease-in;
  transform: translateX(0);
}

.angle-up-btn a:hover {
  background: #4267b2;
  color: #ffffff;
  transform: translateY(-5px);
}


/*---------------------------------------
   SOCIAL ICON              
-----------------------------------------*/

.social-icon {
  position: relative;
  margin-top: 40px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 100px;
}

.social-icon li {
  display: inline-block;
  list-style: none;
  padding-right: 20px;
}

.social-icon li a {
  border-radius: 10px;
  color: #000000;
  font-size: 15px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-decoration: none;
  text-align: center;
  transition: all 0.4s ease-in-out;
  position: relative;
  background-color: #fff;
}

.social-icon li a:hover {
  background: #4267b2;
  color: #ffffff;
}


/*---------------------------------------
   RESPONSIVE STYLES              
-----------------------------------------*/

@media only screen and (max-width: 1200px) {
  h1 {
    font-size: 4em;
  }
  h2 {
    font-size: 2.5em;
  }
  h3 {
    font-size: 1.5em;
  }

  header {
    height: inherit;
  }
  header span.date-icon {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
  header span.email-icon {
    padding-top: 0;
  }

  .navbar-default .navbar-nav li a {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media only screen and (max-width: 992px) {
  .slider .item {
    background-position: center;
  }

  header {
    padding-bottom: 10px;
  }
  header .text-align-right {
    text-align: left;
  }
  header span {
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
  }
}

@media only screen and (max-width: 767px) {
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
  }
  .navbar-default .navbar-nav li.appointment-btn {
    margin-left: 15px;
  }
  .navbar-default .navbar-nav li a {
    display: inline-block;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .news-sidebar {
    margin-top: 2em;
  }

  #appointment-form {
    padding-top: 4em;
    padding-bottom: 4em;
  }

  footer {
    padding-top: 60px;
    padding-bottom: 0;
  }
  .footer-thumb {
    padding-bottom: 10px;
  }

  .border-top {
    text-align: center;
  }

  .copyright-text {
    margin-top: 10px;
  }

  .angle-up-btn {
    bottom: 10em;
  }
}

@media only screen and (max-width: 639px) {
  h1 {
    font-size: 3em;
    line-height: 1.2em;
  }
  h2 {
    font-size: 2.1em;
  }
  h4 {
    font-size: 1.4em;
  }

  #home h3 {
    font-size: 19px;
    letter-spacing: 2px;
    color: #dcdcdc;
}

}

#about{
  padding-bottom: 0px;
  background-position: 20% center;
  background-repeat: no-repeat;
  height: 650px;
}
#team{
  background: #f5f5f5;
}
.team-thumb{
  height: 360px;
    background-color: #1fc8db;
    text-align: center;
}
.team-thumb.bg3{
  background-color: #a0cfde;
}
.team-thumb.bg2{
  background-color: #30a6b8;
}
.team-thumb.bg1{
  background-color: #02bdc0;
}
.team-thumb h3{
  font-size: 35px;
  font-weight: normal;
  letter-spacing: -1px;
  color: #fff;
}
.team-thumb hr{
  border-top: 2px solid #fff;
    width: 60%;
}
.team-thumb p{
  font-size: 14px;
  line-height: 1.3;
  font-weight: 300;
  color: #d6d6d6;
  width: 80%;
  margin: auto;
}
.team-thumb.bg3 p{
  color: #ffffff;
}
.team-thumb .con-dorpsw{
  width: fit-content;
  margin: auto;
  padding-right: 40px;
}
.team-thumb .dorpsw{
  height: 96px;
  width: 93px;
  transform: rotate(45deg);
  margin: auto;
  margin-top: 69px;
  margin-bottom: -36px;
  background: linear-gradient(180deg, rgba(0,0,0,0.6) 0%,rgba(0,0,0,.7) 10%,rgba(0,0,0,.08) 70%,rgba(0,0,0,0) 100%);
}
.team-thumb img{
  width: 96px;
  margin-top: -40px;
  margin-left: -2px;
  transform: rotate(-45deg);
  filter: drop-shadow(-7px 7px 12px #0000003b);
}

.product-info p{
  color: #484848;
    font-size: 18px;
    line-height: inherit;
}

.news-info p{
  color: #484848;
  font-size: 17px;
  line-height: inherit;
}


.title-h2{
  color: #286090;
  font-size: -webkit-xxx-large;
}
.title-h3{
  color: #286090;
  font-size: 24px;
}
.title-h3:hover{
  color: #3d7fb7;
}
.owl-dot {
  background: transparent;
  border: 0;
  padding: 0;
  margin: 0;
}
.title-h1{
  color: #fff;
  font-size: -webkit-xxx-large;
  padding-left: 9px;
}
.contact-info p{
  color: #ffffff;
  font-size: 18px;
  font-weight: 200;
}
.contact-info p .fa-at{
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  width: 15px;
}
.logo-web-cii3-footer {
  height: 100px;
  margin-top: -22px;
  margin-left: -7px;
}

h2 .open-link{
  right: 0;
    position: absolute;
    color: #28609c;
    font-size: 65%;
}
.footer-page{
  background-color: black;
}
.news-info-more{
  overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
}
.footer-page .footer-link p>a{
  padding: 0px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
}
#news-detail p{
  font-size: 18px;
  font-weight: 200;
  color: black;
}
.footer-page .footer-link p>a >i{
  padding-right: 10px;
}
.footer-page .footer-link h4{
  color: #fff;
  padding-top: 40px;
}
.footer-page .footer-link p{
  padding: 0;
  margin: 0;
}
.news-detail-thumb{
  margin-top: 16px;
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 8px 8px 14px 0px #a5a5a599;
}
.news-detail-thumb .news-image{
  margin-top: -15px;
    margin-right: -15px;
    margin-left: -15px;
}
.fb-page{
    margin-bottom: 15px;
}
.fb-page iframe{
  border-radius: 10px;
}
.news-detail-thumb .news-image img{
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.news-thumb{
  box-shadow: 8px 8px 14px 0px #a5a5a599;
}
*{
  text-shadow: 2px 2px 4px #4444;
}
.owl-carousel.owl-loaded {height: 650px;position: absolute;left: 0;right: 0;}
.contact-info-company p{
  color: black;
}
.bg-ef{
  background-color: #efefef;
}
@media only screen and (max-width: 639px) {
  #home h1 {
    font-size: x-large;
    color: #ffffff;
  }
  #about{
    background-image: none!important;
    height: auto;
  }
  #about p {
    font-size: 20px;
    font-weight: normal;
    line-height: 30px;
    text-indent: 30px;
    margin-bottom: 100px;
}
  .slider {
    height: auto;
  }
  .title-h1 {
    font-size: x-large;
  }
  .title-h2 {
    font-size: xx-large;
}
  .copyright-text {
    margin-top: 0px;
  }
  .copyright-text h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
  .product-info .show-now {
    position: unset;
  }
  h2 .open-link {
      right: unset;
      position: unset;
      color: #28609c;
      font-size: 65%;
      display: block;
      margin-top: 15px;
  }
  .title-h3 {
    font-size: x-large;
}
  #home{
    background-position: center!important;
    background-size: cover!important;
  }
  #home .owl-carousel{
    background-color: #000000c9;
  }
  #home .owl-stage-outer {
    margin-bottom: 50px;
}
#home .owl-dots {
  left: auto;
  width: auto;
}
  .team-thumb p {
    font-size: 17px;
    color: #ffffff;
}
#product {
  background: #e6e6e6;
}
#news {
  background: #efefef;
}
.angle-up-btn {
  display: none;
}

}